<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Showcase | Spotify Hack Out West 2015</title>
    <link rel="icon" href="images/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/site.css" />
  </head>
  <body>

    <header role="banner">
        <h1>Hack for Refugees</h1>
        <h3 class="date-banner">
            <div style="width: 41em; margin-left: 1em; margin-right: 1em;">
                <span style="font-size: 2em">Showcase</span>
                <br/>5 - 6 December 2015
            </div>
        </h3>

        <div class="grid">
            <div class="grid__item one-third lap--one-half palm--one-whole">
                <h2>22</h2>
                <span class="stats">HOURS</span>
            </div>
            <div class="grid__item one-third lap--one-half palm--one-whole">
                <h2>65</h2>
                <span class="stats">HACKERS</span>
            </div>
            <div class="grid__item one-third lap--one-half palm--one-whole">
                <h2>664</h2>
                <span class="stats">COMMITS</span>
            </div>
        </div>
        <div>
            <h2 style="font-size: 9em">500 000</h2>
            <span class="stats">LINES OF CODE</span>
        </div>
    </header>

    <main role="main">
      <section>
          <h1>9 amazing projects</h1>
          <header>Lorem ipsum blablabla hurrdurr i am a cat </header>
        <div class="grid">
          {{#each teams ~}}
            {{~> hack ~}}
          {{~/each}}
        </div>
      </section>
    </main>

    <footer role="contentinfo">
      <p>
        Original site made with Spotify Street Team. Updated by the Hack for Refugees crew.
      </p>
      <p>
        Source on <a href="https://github.com/hackforrefugees/showcase">github.com/hackforrefugees//showcase</a>.
      </p>
    </footer>
  </body>
</html>
