<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Showcase | Spotify Hack Out West 2015</title>
    <link rel="icon" href="images/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/site.css" />
  </head>
  <body>

    <header role="banner">
        <a href="http://hackforrefugees.com"><h1>Hack for Refugees</h1></a>
        <h2>
          <span>Showcase</span>
        </h2>

        <div class="grid">
            <div class="grid__item one-third lap--one-half palm--one-whole">
                <h2>22</h2>
                <span class="stats">HOURS</span>
            </div>
            <div class="grid__item one-third lap--one-half palm--one-whole">
                <h2>65</h2>
                <span class="stats">HACKERS</span>
            </div>
            <div class="grid__item one-third lap--one-half palm--one-whole">
                <h2>664</h2>
                <span class="stats">COMMITS</span>
            </div>
        </div>
    </header>

    <main role="main">
      <section>
          <h1 class="blue">{{teams.length}} amazing projects</h1>
          <header>Hackers, volunteers, students and professionals gathered <br/>during an intense weekend to see what can be done to help refugees and society.<br />This is what they came up with.</header>
        <div class="grid">
          {{#each teams ~}}
            {{~> hack ~}}
          {{~/each}}
        </div>
      </section>
    </main>

    <footer role="contentinfo">
      <p>
        Original site made with Spotify Street Team. Updated by the Hack for Refugees crew.
      </p>
      <p>
        Source on <a href="https://github.com/hackforrefugees/showcase">github.com/hackforrefugees/showcase</a>.
      </p>
    </footer>
  </body>
</html>
